@import "../sass/colors.scss";

.title {
  background: url("../assets/images/title.png") no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  &_header {
    color: $white;
    text-align: start;
    margin: 15% 0 15% 70px;
    &__title {
      font-size: 72px;
      margin-bottom: 20px;
      &-highlight {
        color: $pink;
      }
    }
    &__subheader {
      font-size: 32px;
      margin-bottom: 20px;

      &-highlight {
        color: $green;
      }
    }
    &__button {
      background: $green;
      color: $black;
      border-radius: 100px;
      width: 191px;
      height: 54px;
      font-size: 22px;
    }
  }
  &_image {
    background: url("../assets/images/earth.png") no-repeat;
    width: 327px;
    height: 366px;
    margin-top: 70px;
    justify-self: center;
  }
}

@media (max-width: 1000px) {
  .title {
    &_header {
      margin: 20% 0 20% 70px;
      &__title {
        font-size: 48px;
      }
      &__subheader {
        font-size: 22px;
      }
    }
    &_image {
      justify-self: end;
      margin-top: 0;
      width: 300px;
      height: 336px;
      position: relative;
      left: 50px;
    }
  }
}
@media (max-width: 600px) {
  .title {

    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: none;
    &_header {
      order:2;
      margin: 0 20px 50px 20px;
      text-align: center;
      &__title {
        font-size: 36px;
        font-weight: 800;
      }
      &__subheader {
        font-size: 16px;
      }
    }
    &_image {
      justify-self: auto;
      width: 100%;
      height: 336px;
      position: relative;
      z-index: 0;
      transform: translateY(-30%);

    }
  }
}