@import "./sass/colors.scss";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background: $blue;
  margin-top: 80px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .App {
  margin-top: 48px;
  }
}



